.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to right, #141e30, #243b55);
    padding-top: 20px;
  
    &__a--color{
        color: aliceblue;
        font-size: 15px;
        margin-bottom: 10px;
    }
    &__img{
        width: 110px;
        height: 70px;
        margin-left: 30px;
        margin-right: 20px;
    }
    &--direccion{
        padding-top: 10px;
    }
}